/* ---------- Reset ---------- */
/* ---------- Box Model ---------- */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* ---------- Reset ---------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, strong, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, input, button, label, table, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none; }

/* ---------- Colours ---------- */
/* ------ Typography ---------- */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.75; }

p {
  margin-top: 10px; }
  p:first-child {
    margin-top: 0; }

/* --- Links --- */
a {
  color: #0000ff; }
  a:visited {
    color: #9090ff; }
  a:active {
    color: #9090ff; }

/* --- Typefaces --- */
/* --- Plex --- */
@font-face {
  font-family: "Plex";
  font-weight: "normal";
  src: url("../fonts/Plex-Regular.eot");
  src: url("../fonts/Plex-Regular.woff2") format("woff2"), url("../fonts/Plex-Regular.woff") format("woff"), url("../fonts/Plex-Regular.ttf") format("truetype"); }
.plex {
  font-family: 'Plex';
  letter-spacing: 0; }

/* --- Cipher --- */
@font-face {
  font-family: "Cipher";
  font-weight: 100;
  src: url("../fonts/Cipher-Whispers.eot");
  src: url("../fonts/Cipher-Whispers.woff2") format("woff2"), url("../fonts/Cipher-Whispers.woff") format("woff"), url("../fonts/Cipher-Whispers.ttf") format("truetype"); }
@font-face {
  font-family: "Cipher";
  font-weight: 200;
  src: url("../fonts/Cipher-Confides.eot");
  src: url("../fonts/Cipher-Confides.woff2") format("woff2"), url("../fonts/Cipher-Confides.woff") format("woff"), url("../fonts/Cipher-Confides.ttf") format("truetype"); }
@font-face {
  font-family: "Cipher";
  font-weight: 300;
  src: url("../fonts/Cipher-Informs.eot");
  src: url("../fonts/Cipher-Informs.woff2") format("woff2"), url("../fonts/Cipher-Informs.woff") format("woff"), url("../fonts/Cipher-Informs.ttf") format("truetype"); }
@font-face {
  font-family: "Cipher";
  font-weight: 400;
  src: url("../fonts/Cipher-Reports.eot");
  src: url("../fonts/Cipher-Reports.woff2") format("woff2"), url("../fonts/Cipher-Reports.woff") format("woff"), url("../fonts/Cipher-Reports.ttf") format("truetype"); }
@font-face {
  font-family: "Cipher";
  font-weight: 500;
  src: url("../fonts/Cipher-Orders.eot");
  src: url("../fonts/Cipher-Orders.woff2") format("woff2"), url("../fonts/Cipher-Orders.woff") format("woff"), url("../fonts/Cipher-Orders.ttf") format("truetype"); }
@font-face {
  font-family: "Cipher";
  font-weight: 600;
  src: url("../fonts/Cipher-Commands.eot");
  src: url("../fonts/Cipher-Commands.woff2") format("woff2"), url("../fonts/Cipher-Commands.woff") format("woff"), url("../fonts/Cipher-Commands.ttf") format("truetype"); }
@font-face {
  font-family: "Cipher-Mono";
  font-weight: 100;
  src: url("../fonts/Cipher-Whispers-Mono.eot");
  src: url("../fonts/Cipher-Whispers-Mono.woff2") format("woff2"), url("../fonts/Cipher-Whispers-Mono.woff") format("woff"), url("../fonts/Cipher-Whispers-Mono.ttf") format("truetype"); }
@font-face {
  font-family: "Cipher-Mono";
  font-weight: 200;
  src: url("../fonts/Cipher-Confides-Mono.eot");
  src: url("../fonts/Cipher-Confides-Mono.woff2") format("woff2"), url("../fonts/Cipher-Confides-Mono.woff") format("woff"), url("../fonts/Cipher-Confides-Mono.ttf") format("truetype"); }
@font-face {
  font-family: "Cipher-Mono";
  font-weight: 300;
  src: url("../fonts/Cipher-Informs-Mono.eot");
  src: url("../fonts/Cipher-Informs-Mono.woff2") format("woff2"), url("../fonts/Cipher-Informs-Mono.woff") format("woff"), url("../fonts/Cipher-Informs-Mono.ttf") format("truetype"); }
@font-face {
  font-family: "Cipher-Mono";
  font-weight: 400;
  src: url("../fonts/Cipher-Reports-Mono.eot");
  src: url("../fonts/Cipher-Reports-Mono.woff2") format("woff2"), url("../fonts/Cipher-Reports-Mono.woff") format("woff"), url("../fonts/Cipher-Reports-Mono.ttf") format("truetype"); }
@font-face {
  font-family: "Cipher-Mono";
  font-weight: 500;
  src: url("../fonts/Cipher-Orders-Mono.eot");
  src: url("../fonts/Cipher-Orders-Mono.woff2") format("woff2"), url("../fonts/Cipher-Orders-Mono.woff") format("woff"), url("../fonts/Cipher-Orders-Mono.ttf") format("truetype"); }
@font-face {
  font-family: "Cipher-Mono";
  font-weight: 600;
  src: url("../fonts/Cipher-Commands-Mono.eot");
  src: url("../fonts/Cipher-Commands-Mono.woff2") format("woff2"), url("../fonts/Cipher-Commands-Mono.woff") format("woff"), url("../fonts/Cipher-Commands-Mono.ttf") format("truetype"); }
.cipher {
  font-family: 'Cipher';
  letter-spacing: 0; }
  .cipher.mono {
    font-family: 'Cipher-Mono'; }

.whispers {
  font-weight: 100; }

.confides {
  font-weight: 200; }

.informs {
  font-weight: 300; }

.reports {
  font-weight: 400; }

.orders {
  font-weight: 500; }

.commands {
  font-weight: 600; }

/* --- Vortext --- */
@font-face {
  font-family: "Vortext";
  font-weight: "normal";
  src: url("../fonts/Vortext-Regular.eot");
  src: url("../fonts/Vortext-Regular.woff2") format("woff2"), url("../fonts/Vortext-Regular.woff") format("woff"), url("../fonts/Vortext-Regular.ttf") format("truetype"); }
.vortext {
  font-family: 'Vortext';
  letter-spacing: 0; }

/* --- Sample Strings --- */
.sample {
  margin-bottom: 10px;
  font-size: 1.5em;
  line-height: 1.2; }
  .sample.plex {
    margin-top: 5px;
    line-height: 1.5; }

.sample-block {
  font-size: 1.5em;
  line-height: 1.5;
  text-align: justify; }
  .sample-block.plex {
    line-height: 2; }

/* ---------- Images ---------- */
img {
  width: 100%; }

/* ---------- Helper Classes ---------- */
.hide {
  display: none; }

.behind {
  position: relative;
  z-index: -1; }

.pull-right {
  float: right; }

/* ---------- Container ---------- */
body, .container {
  width: 100%;
  min-height: 100vh; }

/* ---------- Navigation ---------- */
nav {
  width: 100%;
  float: left;
  padding: 30px;
  padding-right: 0;
  background-color: #ebebf0; }

.main-nav > li {
  margin-top: 1.5em;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1.5;
  text-transform: uppercase;
  overflow: hidden; }
  .main-nav > li > a {
    display: block;
    width: calc(100vw - (50px * 3 / 5));
    line-height: 1.3;
    color: #9090ff;
    border-bottom: 0.15em solid #9090ff;
    margin-bottom: 0.5em; }
    .main-nav > li > a:hover {
      color: #0000ff;
      border-bottom-color: #0000ff; }
  .main-nav > li:first-child {
    margin-top: 0; }
  .main-nav > li.active {
    overflow: visible; }
    .main-nav > li.active a {
      color: #0000ff;
      border-bottom-color: #0000ff; }
    .main-nav > li.active + .sub-nav {
      display: initial; }

.sub-nav > li.current a {
  color: #0000ff; }
.sub-nav a {
  color: #000000; }
  .sub-nav a:visited {
    color: #000000; }
  .sub-nav a:hover {
    color: #0000ff; }

.js .sub-nav {
  display: none; }

/* ---------- Main ---------- */
main {
  width: 100%;
  float: left; }
  main h2 {
    color: #0000ff; }

/* ---------- Sections---------- */
section {
  width: 100%; }
  section ul {
    margin-top: 20px; }
  section li {
    color: #0000ff; }
  section section {
    width: 100%;
    padding: 30px;
    display: inline-block;
    vertical-align: top; }
  section > img {
    width: 100%;
    display: inline-block;
    vertical-align: top; }

.white-section {
  background-color: rgba(255, 255, 255, 0.9); }
  .white-section li {
    color: #9090ff; }

.lblue-section {
  background-color: rgba(190, 190, 255, 0.9);
  color: #ffffff; }
  .lblue-section a:visited {
    color: #a2a2a7; }
  .lblue-section a:active {
    color: #a2a2a7; }

.blue-section {
  background-color: #0000ff;
  color: #ffffff; }
  .blue-section h2 {
    color: #ffffff; }
  .blue-section a {
    color: #9090ff; }
    .blue-section a:visited {
      color: #ebebf0; }
    .blue-section a:active {
      color: #ebebf0; }

/* ---------- Individual Styles ---------- M*/
/* ---------- Media Queries ---------- */
/* ---------- Small ---------- */
@media screen and (min-width: 400px) {
  nav {
    width: 40%;
    min-height: 100vh;
    padding: 50px;
    padding-right: 0; }

  .main-nav > li > a {
    width: calc(100vw - 50px); }

  main {
    width: 60%;
    height: 100vh;
    overflow-y: auto; }

  section section {
    padding: 50px; }
  section .align-img {
    padding-top: 50px; } }
/* ---------- Large ---------- */
@media screen and (min-width: 1000px) {
  body {
    font-size: 1.2em; }

  nav {
    width: 20%; }

  main {
    width: 80%; }

  .col-span-1 {
    width: 25%; }

  .col-span-2 {
    width: 50%; }

  .col-span-3 {
    width: 75%; }

  .margin-left-1 {
    margin-left: 25%; }

  .margin-left-2 {
    margin-left: 50%; }

  .hero-img {
    padding-bottom: 50px; } }

/*# sourceMappingURL=style.css.map */
