/* ---------- Reset ---------- */
@import 'reset';
@import 'mixins';
/* ---------- Colours ---------- */
$color-black: #000000;
$color-white: #ffffff;
$color-mgrey: #a2a2a7;
$color-lgrey: #ebebf0;
$color-blue: #0000ff;
$color-lblue: #9090ff;

$main-padding: 50px;
$main-font: "Montserrat", sans-serif;
$main-font-size: 1em;
$main-font-weight: 400;
$main-line-height: 1.75;

$font-weight-bold: 700;

$nav-width-sm: 40%;
$nav-width-lg: 20%;


$line-height-short: 1;
$letter-spacing-normal: 0;
$letter-spacing-wide: +.6;

$btn-line-height: 2.5;
$btn-padding: 0 12px;

$outline-weight: 3px;

/* ------ Typography ---------- */
body {
	font-family: $main-font;
	font-size: $main-font-size;
	font-weight: $main-font-weight;
	line-height: $main-line-height;
}
/* --- Links --- */
a:visited, a:active {
	color: $color-lblue;
}
/* ---------- Container ---------- */
body, .container {
	width: 100%;
	height: 100vh;
}

/* ---------- Navigation ---------- */
nav {
	width: 100%;
	float: left;
	padding: $main-padding;
	padding-right: 0;
	background-color: $color-lgrey;
}
.main-nav {
	> li {
		margin-top: 1.5em;
		font-size: 1.5em;
		font-weight: $font-weight-bold;
		text-transform: uppercase;
		overflow: hidden;
		> a {
			display: block;
			width: calc(100vw - #{$main-padding});
			line-height: 1.3;
			border-bottom: .15em solid $color-lblue;
			margin-bottom: 0.5em;
			&:hover {
				color: $color-blue;
				border-bottom-color: $color-blue;
			}
		}
		&:first-child {
			margin-top: 0;
		}
		&.active {
			overflow: visible;
			a {
				color: $color-blue;
				border-bottom-color: $color-blue;
			}
			+ .sub-nav {
				display: initial;
			}
		}
	}
}
.sub-nav {
	> li {
		&.active  a {
			color: $color-blue;
		}
	}
	a {
		color: $color-black;
		&:visited {
			color: $color-black;
		}
		&:hover {
			color: $color-blue;
		}
	}
}
.js {
	.sub-nav {
		display: none;
	}
}
@mixin nav--sm() {
	nav {
		width: $nav-width-sm;
		min-height: 100%;
	}
}
@mixin nav--lg() {
	nav {
		width: $nav-width-lg;
	}
}
/* ---------- Main ---------- */
main {
	width: 100%;
	float: left;
	padding: $main-padding;
}
@mixin main--sm() {
	main {
		width: 100% - $nav-width-sm;
		height: 100%;
		overflow-y: auto;
	}
}
@mixin main--lg() {
	main {
		width: 100% - $nav-width-lg;
	}
}

/* ---------- Media Queries ---------- */
@import 'media-queries';